{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">

          <table class="table">
  <thead>
    <tr>
      <th scope="col">Datos</th>
      <th scope="col">Info</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Nombre</th>
     <td>Sofia</td>
    </tr>
    <tr>
      <th scope="row">Apellido</th>
      <td>Sarmiento</td>
    </tr>
   <tr>
      <th scope="row">Documento</th>
      <td>bogota</td>
    </tr>
   <tr>
      <th scope="row">Direccion</th>
      <td>ss@hotmail.com</td>
    </tr>
  <tr>
      <th scope="row">Correo</th>
      <td>ss@hotmail.com</td>
    </tr>
  <tr>
      <th scope="row">Productos</th>
      <td>ss@hotmail.com</td>
    </tr>

  </tbody>
</table>
    </div>

{% endblock %}