{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">

          <table class="table">
  <thead>
    <tr>
      <th scope="col">Login As</th>
      <th scope="col">User</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Admin</th>
     <button type="button" class="btn btn-primary">Administrador</button>

    </tr>
    <tr>
      <th scope="row">Cliente</th>
      <button type="button" class="btn btn-primary">Cliente</button>

    </tr>

  </tbody>
</table>
    </div>

{% endblock %}