{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">

          <table class="table">
  <thead>
    <tr>
      <th scope="col">Login As</th>
      <th scope="col">User</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Admin</th>
     <td><button type="button" class="btn btn-primary"  onclick="window.location='/productosAdmin/';">Administrador</button></td>
    </tr>
    <tr>
      <th scope="row">Cliente</th>
     <td> <button type="button" class="btn btn-primary" onclick="window.location='/cliente/';">Cliente</button></td>

    </tr>

  </tbody>
</table>
    </div>

{% endblock %}